<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio</title>
  <%- include('partials/header') -%>

</head>

<body>

  <%- include('partials/about')-%>

  <div class="off-canvas-content" data-off-canvas-content>
    <div class="title-bar hide-for-large">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="my-info"></button>
        <span class="title-bar-title">Eden Gomez</span>
      </div>
    </div>

    <nav class="grid-container portfolio-breadcrumb">
      <a class="" href="/">&larr; Back</a>
    </nav>

    <article class="grid-container portfolio-intro portfolio-project">
      <div class="grid-x">
        <div class="cell small-6 medium-9 large-9">
          <h1>API-Auth Using Vue.js and Firebase</h1>
          <p class="lead text-light">
            In this project I build an API REST using Vue.JS, VueX, Boostrap 4 and Firebase. Basically I build a simple
            To Do list, You can sign in and make an account and monitoring your task.

            I use Realtime DB from firebase in order to make a HTTP Requests
          </p>
        </div>
        <div class="cell portfolio-meta small-6 medium-2 large-3">
          <h6>Technologies</h6>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Vue.Js</li>
            <li>Vuex</li>
            <li>Boostrap</li>
          </ul>
          <a class="button expanded" href="https://udemy-api-2662a.web.app" target="_blank">Live Demo</a>
          <a class="button expanded" href="https://github.com/EdnGG/vue-auth-api-firebase" target="_blank">GitHub
            Repo</a>
        </div>
      </div>
      <br />
      <img class="image" src="/img/auth-api-fb/fb-1.png" />
      <img class="image" src="/img/auth-api-fb/fb-2.png" />
      <img class="image" src="/img/auth-api-fb/fb-3.png" />
    </article>
  </div>

  <%- include('partials/scripts') -%>

</body>

</html>

<!--  testing -->