<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue + MongoDB</title>

  <%- include('partials/header') -%>

</head>

<body>

  <%- include('partials/about')-%>

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="title-bar hide-for-large">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-toggle="my-info"></button>
          <span class="title-bar-title">Eden Gomez</span>
        </div>
      </div>

      <nav class="grid-container portfolio-breadcrumb">
        <a class="" href="/">&larr; Back</a>
      </nav>

      <article class="grid-container portfolio-intro portfolio-project">
        <div class="grid-x">
          <div class="cell small-6 medium-9 large-9">
            <h1>A simple CRUD Using Vue.js, Vuex, Node.js, Boostrap 4, MongoDB, Express.js</h1>
            <p class="lead text-light">
              Hey everyone. In this project I build simple CRUD using Vue.js, Postman, MongoDB for local develop and for storing data on the cloud I
              used MongoDB Atlas. 

              The porject is hosted using Heroku.
            </p>
          </div>
          <div class="cell portfolio-meta small-6 medium-2 large-3">
            <h6>Technologies</h6>
            <ul>
              <li>HTML</li>
              <li>Boostrap</li>
              <li>JavaScript</li>
              <li>Vue.js</li>
              <li>MongoDB</li>
              <li>Node.js</li>
              <li>Express.js</li>
            </ul>
            <a class="button expanded" href="https://mevn-eden.herokuapp.com/login" target="_blank">Live Demo</a>
            <a class="button expanded" href="https://github.com/EdnGG/mevn-bluuweb-udemy" target="_blank">GitHub
              Repo Frontend</a>
            <a class="button expanded" href="https://github.com/EdnGG/backend-mevn" target="_blank">GitHub
              Repo Backend</a>
          </div>
        </div>
        <br />
        <img class="image" src="/img/mongoDB/mongo-1.png" />
        <img class="image" src="/img/mongoDB/mongo-2.png" />
        <img class="image" src="/img/mongoDB/mongo-3.png" />
        <img class="image" src="/img/mongoDB/mongo-4.png" />
      </article>
    </div>

    <%- include('partials/scripts')-%>

</body>

</html>