<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>vue-localstorage-web-browser</title>

  <%- include('partials/header') -%>

</head>

<body>

  <%- include('partials/about')-%>

  <div class="off-canvas-content" data-off-canvas-content>
    <div class="title-bar hide-for-large">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="my-info"></button>
        <span class="title-bar-title">Eden Gomez</span>
      </div>
    </div>

    <nav class="grid-container portfolio-breadcrumb">
      <a class="" href="/">&larr; Back</a>
    </nav>

    <article class="grid-container portfolio-intro portfolio-project">
      <div class="grid-x">
        <div class="cell small-6 medium-9 large-9">
          <h1>Vue Todos Using Local Storage Browser</h1>
          <p class="lead text-light">
            Hey everyone. In this project I build simple todo list using Vue.js, Vuex, Router, and for storing data I
            used the LocalStorage (API
            browser).

            In order to use it, Just provide a random data, so that data will keep on your browser even if you reload
            it.

            The porject is hosted using Netfily.
          </p>
        </div>
        <div class="cell portfolio-meta small-6 medium-2 large-3">
          <h6>Technologies</h6>
          <ul>
            <li>HTML</li>
            <li>Boostrap</li>
            <li>JavaScript</li>
            <li>Vue.js</li>
            <li>Vuex</li>
            <li>Routes</li>
            <li>Local Storage API</li>
          </ul>
          <a class="button expanded" href="https://romantic-khorana-0c9335.netlify.app/" target="_blank">Live Demo</a>
          <a class="button expanded" href="https://github.com/EdnGG/vue-todo-localStorage" target="_blank">GitHub
            Repo</a>
        </div>
      </div>
      <br />
      <img class="image" src="/img/vue-localstorage/vue-local-1.png" />
      <img class="image" src="/img/vue-localstorage/vue-local-2.png" />
      <img class="image" src="/img/vue-localstorage/vue-local-3.png" />
    </article>
  </div>

  <%- include('partials/scripts')-%>

</body>

</html>