<div
  class="off-canvas position-left reveal-for-large portfolio-me"
  id="my-info"
  data-off-canvas
>
  <div class="grid-y grid-padding-x" style="height: 100%">
    <br />
    <div class="cell shrink">
      <img class="thumbnail" src="/img/profile/IMG_4804.jpeg" />
    </div>
    <div class="cell auto">
      <h5>Eden Gomez</h5>
      <p class="text-light">
        Hey everyone I'm a Javascript developer, I love technology and also I
        enjoy learning more every day about this industry that is changing step
        by step the world where we live.
      </p>
      <a href="/about" class="">Learn More &rarr;</a>
    </div>
  </div>
</div>
