<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio</title>
  <%- include('partials/header') -%>

</head>

<body>

  <%- include('partials/about') -%>

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="title-bar hide-for-large">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-toggle="my-info"></button>
          <span class="title-bar-title">Eden Gomez</span>
        </div>
      </div>

      <nav class="grid-container portfolio-breadcrumb">
        <a class="" href="/">&larr; Back</a>
      </nav>

      <article class="grid-container portfolio-intro portfolio-project">
        <div class="grid-x">
          <div class="cell small-6 medium-9 large-9">
            <h1>React CRUD Using Firebase</h1>
            <p class="lead text-light">
              In this project I build a simple CRUD using React hooks (useState, useEffect), Routes, and a few more
              stuff. And as a backend service I use Firebase using Firebase Auth and Firestore. You can create an
              account and create a few todo notes, also I implement a pagination using firestore methods.

            </p>
          </div>
          <div class="cell portfolio-meta small-6 medium-2 large-3">
            <h6>Technologies</h6>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>React</li>
              <li>Firebase</li>
              <li>Boostrap 4.5</li>
            </ul>
            <a class="button expanded" href=https://react-crud-udemy-3536b.web.app/login target="_blank">Live Demo</a>
            <a class="button expanded" href=https://github.com/EdnGG/cloning-react-api/tree/develop
              target="_blank">GitHub
              Repo</a>
          </div>
        </div>
        <br>
        <img class="image" src="/img/react-crud/react-crud-1.png" />
        <img class="image" src="/img/react-crud/react-crud-2.png" />
        <img class="image" src="/img/react-crud/react-crud-3.png" />
      </article>
    </div>

    <%- include('partials/scripts') -%>
</body>

</html>