<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VSI Retrofit Form</title>

  <%- include('partials/header') -%>

</head>

<body>

  <%- include('partials/about')-%>

  <div class="off-canvas-content" data-off-canvas-content>
    <div class="title-bar hide-for-large">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="my-info"></button>
        <span class="title-bar-title">Eden Gomez</span>
      </div>
    </div>

    <nav class="grid-container portfolio-breadcrumb">
      <a class="" href="/">&larr; Back</a>
    </nav>

    <article class="grid-container portfolio-intro portfolio-project">
      <div class="grid-x">
        <div class="cell small-6 medium-9 large-9">
          <h1>Retrofit Form</h1>
          <p class="lead text-light">
            Hey everyone this is a CRUD using Firebase as a Backend as a service and vanilla JS. Feel fre to try it it
            out login in as gresseden@gmail.com and as a password 999999999 (9 times 9 :) ) You can create, , read,
            delete, update and also receive an email wih all information you just provide. For now the app is not using
            for the company, so feel free to check it out.
          </p>
        </div>
        <div class="cell portfolio-meta small-6 medium-2 large-3">
          <h6>Technologies</h6>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Firebase</li>
            <li>jquery</li>
            <li>Boostrap</li>
          </ul>
          <a class="button expanded" href="https://vsi-project.web.app/" target="_blank">Live Demo</a>
          <a class="button expanded" href="https://github.com/EdnGG/VSI-project" target="_blank">GitHub Repo</a>
        </div>
      </div>
      <br />
      <img class="image" src="/img/vsi-2.png" />
      <img class="image" src="/img/vsi-3.png" />
      <img class="image" src="/img/vsi-4.png" />
    </article>
  </div>

  <%- include('partials/scripts')-%>

</body>

</html>